<!DOCTYPE html>
<html>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="..css/bootstrap.min.css" />
<head>
	<title></title>
</head>
<body ng-app="">
<!-- 	<div ng-app="">
 	<p>Name: <input type="text" ng-model="name"></p>
 	<p>My first expression: {{ 5+5 }}</p>
 	<p>{{ name }}</p>
 	</div>

 	<div ng-app="myApp" ng-controller="myCtrl">
	 	First Name: <input type="text" ng-model="firstname"><br>
	 	Last Name : <input type="text" ng-model="lastname"><br>
	 	<br>
	 	Full Name : {{ firstname + " " + lastname }}
	 </div>

	 <script>
	 	var app = angular.module('myApp', []);
	 	app.controller('myCtrl', function($scope){
	 		$scope.firstname = "John";
	 		$scope.lastname = "Doe";
	 	})
	 </script>


 <div ng-app="">
 	<p>My First expression: {{ 5 + 5 }}</p>
 </div> 

 <div ng-app="" ng-init="myCol='lightblue'">

 <input style="background-color: {{myCol}}" ng-model="myCol" value="{{myCol}}">
 </div> 

 <div ng-app="" ng-init="quantity=1; cost=5">
 	<p>Total in dollar: {{ quantity * cost }}</p>
 	<p>Total in dollar:<span ng-bind="quantity * cost"></span></p>
 </div>

 <div ng-app="" ng-init="person={firstname:'john', lastname:'Doe'}">
 <p>The name is <span ng-bind="person.lastname"></span></p>
 </div>

 <div ng-app="" ng-init="points=[1,15,19,2,40]">
 <p>The third result is {{ points[0] }}</p>
 </div>

 <div ng-app="" ng-init="names=['Jani', 'Hege', 'Kai']">
 	<ul>
 		<li ng-repeat="x in names">
 			{{ x }}
 		</li>
 	</ul>
 </div>

 <div ng-app="" ng-init="names=[ {name:'Jani', country:'Norway'},
 {name:'Hege', country:'Sweden'},
 {name:'Kai', country:'Denmark'}]">

<ul>
	<li ng-repeat="x in names">
		{{ x.name + ', ' + x.country }}
	</li>
</ul>

<form ng-app="" name="myForm">
	Email:
	<input type="email" name="myAddress" ng-model="text">
	<span ng-show="myForm.myAddress.$error.email">Not a e-mail address</span>
</form>--> 

<!-- <style>
input.ng-pending{
	background-color:red;
}
</style>

<form ng-app="myApp" ng-controller="myCtrl">
	First name : 
	<input type="text" ng-model="firstname"><br>
	Last name :
	<input type="text" ng-model="lastname"><br>
	Full name : {{ firstname + " " + lastname }}<br>
	Full name : {{ fullname() }}
	<h1> {{ firstname }}</h1>
	<h2 ng-click="changeName()"> {{ firstname }}</h2>
</form>

<script>
	 	var app = angular.module('myApp', []);
	 	app.controller('myCtrl', function($scope){
	 		$scope.firstname = "John";
	 		$scope.lastname = "Doe";
	 		$scope.changeName = function(){
	 			$scope.firstname = "Dolly";
	 		}
	 		$scope.fullname = function(){
	 			return $scope.firstname+" "+$scope.lastname;
	 		}
	 	})
</script> -->

<!-- <div ng-app="myApp" ng-controller="namesCtrl">
	<ul>
		<li ng-repeat="x in names">
			{{ x.name + ', '+ x.country }}
		</li>
	</ul>

</div>
	<script src="namesController.js"></script> -->

<!-- <div ng-app="myApp" ng-controller="personCtrl">
	<p>The name is {{ lastName | lowercase }}</p>
 </div> 

<script>
	angular.module('myApp', []).controller('personCtrl', function($scope){
			$scope.firstName = "John",
			$scope.lastName = "Doe"
	});
</script> 
<div ng-app="myApp" ng-controller="namesCtrl">
	<p>Looping with objects: </p>
	<ul>
		<li ng-repeat = "x in names| orderBy: 'name'">
			{{ x.name + ', ' + x.country }}
		</li>
	</ul>
</div>
<script src="namesController.js"></script>

<div ng-app="myApp" ng-controller="costCtrl">
	<h1>Price: {{ price | currency }}
</div>

<script>
	var app = angular.module('myApp', []);
	app.controller('costCtrl', function($scope){
		$scope.price = 58;
	});
</script>

<div ng-app="myApp" ng-controller="namesCtrl">

<ul>
  <li ng-repeat="x in names | filter : 'i'">
    {{ x.name }}
  </li>
</ul>

</div>

<div ng-app="myApp" ng-controller="namesCtrl">

<p>Type a letter in the input field:</p>

<p><input type="text" ng-model="test"></p>

<ul>
  <li ng-repeat="x in names | filter:test">
    {{ x }}
  </li>
</ul>

</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope) {
    $scope.names = [
        'Jani',
        'Carl',
        'Margareth',
        'Hege',
        'Joe',
        'Gustav',
        'Birgit',
        'Mary',
        'Kai'
    ];
});
</script>

<p> Click the table headers to change the sorting order:</p>
<div ng-app="myApp" ng-controller="namesCtrl">
	<table border="1" width="100%">
	<tr>
		<th ng-click="orderByMe('name')">Name</th>
		<th ng-click="orderByMe('country')">Country</th>
	</tr>
	<tr ng-repeat="x in names | orderBy:myOrderBy">
		<td>{{x.name}}</td>
		<td>{{x.country}}</td>
	</tr>
	</table>
</div>

<script>
angular.module('myApp', []).controller('namesCtrl', function($scope){
	$scope.names = [
		{name:'Jani',country:'Norway'},
        {name:'Carl',country:'Sweden'},
        {name:'Margareth',country:'England'},
        {name:'Hege',country:'Norway'},
        {name:'Joe',country:'Denmark'},
        {name:'Gustav',country:'Sweden'},
        {name:'Birgit',country:'Denmark'},
        {name:'Mary',country:'England'},
        {name:'Kai',country:'Norway'}
	];
	$scope.orderByMe = function(x){
		$scope.myOrderBy = x;
	}
});
</script>

<ul ng-app="myApp" ng-controller="namesCtrl">
	<li ng-repeat="x in names">
		{{ x | myFormat }}
	</li>
</ul>

<script>
var app = angular.module('myApp', []);
app.filter('myFormat', function(){
	return function(x){
		var i, c, txt = "";
		for (i = 0; i <x.length; i++){
			c = x[i];
			if(i % 2 == 0){
				c = c.toUpperCase();
			}
			txt += c;
		}
		return txt;
	};
});

app.controller('namesCtrl', function($scope){
	$scope.names = [
	    'Jani',
        'Carl',
        'Margareth',
        'Hege',
        'Joe',
        'Gustav',
        'Birgit',
        'Mary',
        'Kai'
	];
});
</script>

<div ng-app="myApp" ng-controller="myCtrl">
	<h3> {{ myUrl }} </h3>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $location){
	$scope.myUrl = $location.absUrl();
});
</script>

<div ng-app="myApp" ng-controller="myCtrl">
	<p> Today's welcome message is: </p>
	<h1>{{ myWelcome }}</h1>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http){
	$http.get("welcome.html").then(function(response){
		$scope.myWelcome = response.data;
	});
});
</script>

<div ng-app="myApp" ng-controller="myCtrl">
	<p>This header will change after two seconds:</p>
	<h1> {{ myHeader }}</h1>

</div>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $timeout){
		$scope.myHeader = "Hello World!";
		$timeout(function() {
			$scope.myHeader = "How are you today?";
		}, 2000);
	});

</script>

<div ng-app="myApp" ng-controller="myCtrl">
	<p>The time is: </p>
	<h1> {{ theTime }}</h1>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $interval){
	$scope.theTime = new Date().toLocaleTimeString();
	$interval(function(){
		$scope.theTime = new Date().toLocaleTimeString();
	}, 1000);
});
</script>

<div ng-app="myApp" ng-controller="myCtrl">
	<p>The hexadecimal value of 255 is:</p>
	<h1>{{ hex }}</h1>
</div>

<script>
	var app = angular.module('myApp', []);
	app.service('hexafy', function(){
		this.myFunc = function (x){
			return x.toString(16);
		}
	});
	app.controller('myCtrl', function($scope, hexafy){
		$scope.hex = hexafy.myFunc(250);
	});
</script>
<div ng-app="myApp">
	Convert the number 255, using a custom made service inside a custom made filter:
	<h1>{{ 255 | myFormat }}</h1>
</div>

<script>
var app = angular.module('myApp', []);
app.service('hexafy',function(x){
	return x.toString(16);
	}
});
app.filter('myFormat', ['hexafy', function(hexafy){
	return function(x){
		return hexafy.myFunc(x);
	};
}]);

</script>

<div ng-app="myApp" ng-controller="myCtrl">

<ul>
	<li ng-repeat="x in counts">{{ x | myFormat }}</li>
</ul>
</div>

<script>
var app = angular.module('myApp', []);

app.service('hexafy', function(){
	this.myFunc = function(x){
		return x.toString(16);
	}
});
app.filter('myFormat', ['hexafy', function(hexafy){
	return function(x){
		return hexafy.myFunc(x);
	};
}]);
app.controller('myCtrl', function($scope){
	$scope.counts = [255, 251, 200];
});

</script>

<div ng-app="myApp" ng-controller="myCtrl">
<p>  {{ myWelcome }}</p>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http){
	$http({
		method: "GET",
		url : "welcome.html"
		}).then(function mySuccess(response){
			$scope.myWelcome = response.data;
			}, function myErre(response){
				$scope.myWelcome = response.statusText;
		});
	});
</script>

<div ng-app="myApp" ng-controller="myCtrl">
	<h1>{{ content }}</h1>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http){
	$http.get("wrongfilename.html")
	.then(function(response){
		$scope.content = response.data;
	}, function(response){
		$scope.content = "Something went wrong";
	});
});
</script>-->

<!-- <div ng-app="myApp" ng-controller="myCtrl">
	<select ng-model="selectName" ng-options="x for x in names">
	</select>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.names = ["Email", "Tobias", "Linus"];
});
</script> 

<div ng-app="myApp" ng-controller="myCtrl">
	<p>Select a car:</p>
<select ng-model="selectedCar">
<option ng-repeat="x in cars" value=" {{ x.model }}">{{ x. model}}</option>
</select>
<h1> You selected : {{ selectedCar }}
</h1>

<p>Select a car:</p>
<select ng-model="selectedCar" ng-options="x.model for x in cars"></select>

<h1>You Selected : {{ selectedCar.model }}</h1>
<p>Its color is : {{ selectedCar.color }}</p>
</div>

<script>
var app = angular.module('myApp',[]);
app.controller('myCtrl', function($scope){
	$scope.cars = [
	{model : "Forn Mustang", color: "red"},
	{model : "Fiat 500", color: "white"},
	{model : "Volvo XC90", color: "black"}
	];
});
</script>

<div ng-app="myApp" ng-controller="myCtrl">

<h1 ng-mousemove="count = count + 1">Mouser Over here</h1>
<h2>{{ count }}</h2>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.count = 0;
});
</script>

<div ng-app="myApp" ng-controller="myCtrl">
<button ng-click="count = count + 1">Click Me!</button>
<p>{{ count }}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.count = 0;
})
</script>
<div ng-app="myApp" ng-controller="myCtrl">
<button ng-click="myFunction()">Click Me!</button>
	<p>{{ count }}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.count = 0;
	$scope.myFunction = function(){
		$scope.count++;
	}
})
</script>

<div ng-app="myApp" ng-controller="myCtrl">
<button ng-click="myFunc()">Click Me!</button>

<div ng-show="showMe">
	<h1>Menu: </h1>
	<div>Pizza</div>
	<div>Pasta</div>
	<div>Pesce</div>
</div>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.showMe = false;
	$scope.myFunc = function(){
		$scope.showMe = !$scope.showMe;
	}
});
</script>

<div ng-app="myApp" ng-controller="myCtrl">

<h1 ng-mousemove="myFunc($event)">Mouse Over Me!</h1>
<p>Coordinates: {{ x + ', ' + y}}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope){
	$scope.myFunc = function(myE){
		$scope.x = myE.clientX;
		$scope.y = myE.clientY;
	}
});
</script>
<form>
	Pick a topic:
	<input type="radio" ng-model="myVar" value="dogs">Dogs
	<input type="radio" ng-model="myVar" value="tuts">Tutorials
	<input type="radio" ng-model="myVar" value="cars">Cars
</form>

<div ng-switch="myVar">
	<div ng-switch-when="dogs">
		<h1>Dogs</h1>
		<p>Welcome to a world of dogs</p>
	</div>
	<div ng-switch-when="tuts">
		<h1>Dogs</h1>
		<p>Welcome to a world of tuts</p>
	</div>
	<div ng-switch-when="cars">
		<h1>Dogs</h1>
		<p>Welcome to a world of cars</p>
	</div>
</div>-->
<!-- 
<div ng-app="myApp" ng-controller="formCtrl">
	<form>
		First name: <br>
		<input type="text" ng-model="user.firstName"><br>
		Last Name: <br>
		<input type="text" ng-model="user.lastName">
		<br><br>
		<button ng-click="reset()">RESET</button>
	</form>
	<p>form = {{ user }}</p>
	<p>master = {{ master }}</p>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope){
	$scope.master = {firstName:"John", lastName:"Doe"};
	$scope.reset = function(){
		$scope.user = angular.copy($scope.master);
	};
		$scope.reset();
})
</script> -->

<div ng-app="" ng-init="mySwith=true">
<p>
<button ng-disabled="mySwitch">Click Me!</button>
</p>
<input type="checkbox" ng-model="mySwitch" />Button
</p>
<p>
{{ mySwitch }}
</p>
</div>

</body>
</html>